﻿@model CustomerAddressEditModel
<div class="section address-info">
	<form id="add-edit-address-ajax" action="">
		<div class="page account-page address-edit-page">

			<div class="enter-address">
				<button type="button" class="close" data-dismiss="modal" onclick="saveAddress.closePopup('dv-address-container');"><i class="fa times"></i></button>
				@if (Model.Address.Id > 0)
				{
					<text>
						<h3>@T("Account.CustomerAddresses.Edit")</h3>
					</text>
				}
				else
				{
					<text>
						<h3>@T("Account.CustomerAddresses.AddNew")</h3>
					</text>
				}

			</div>

			<div class="page-body">
				<div asp-validation-summary="ModelOnly" class="message-error"></div>
				@{
					var dataDictAddress = new ViewDataDictionary(ViewData);
					dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
					@await Html.PartialAsync("_CreateOrUpdateAddressAjax", Model.Address, dataDictAddress)
				}
				<div class="buttons">
					@*<input type="submit" class="button-1 save-address-button" value="@T("NB.Common.Save.Address")" />*@
					<input type="button" class="button-1 save-address-button" value="@T("NB.Common.Save.Address")" onclick="saveAddress.save();" />
				</div>
			</div>
		</div>
	</form>
</div>
<script>
        var saveAddress = {

            save: function () {
                displayAjaxLoading(true);
                $.ajax({
                    cache: false,
                    url: '@Url.Action("SaveAddressAjax", "Customer")',
                    data: $('#add-edit-address-ajax').serialize(),
                    type: "POST",
                    success: function (response) { saveAddress.nextStep(response) },
                    complete: saveAddress.resetLoadWaiting(),
                    error: function () {
                        alert('An error occurred');
                    }
                });
            },

            nextStep: function (response) {
                if (response.error) {
                    if ((typeof response.message) == 'string') {
                        alert(response.message);
                    } else {
                        alert(response.message.join("\n"));
                    }

                    return false;
                }

                saveAddress.setStepResponse(response);
            },

            setStepResponse: function (response) {
                if (response.update_section) {
                    //alert('inside update section');
                    $('#' + response.update_section.name + '').html(response.update_section.html);
                }

                if (response.success) {
                    saveAddress.closePopup('dv-address-container');
                }

                return false;
            },

            resetLoadWaiting: function () {
                displayAjaxLoading(false);
            },

            closePopup: function (name) {
				//close popup
				$('#'+ name).html('');
				$('#'+ name).hide();
			}
        }
</script>
