﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-seller-page");
}
<div class="page home-page">
    <div class="page-body becomeSellerPage">
        <div class="sellerBanner">
            <div class="row">
                <div class="col-md-12 bannerImg">
                    <h1>@T("NB.Seller.Banner.Heading")</h1>
                    <p>@T("NB.Seller.Banner.Text")</p>
                    <a href="@Url.RouteUrl("SellerRegister")" class="startSellBtn">@T("NB.Seller.Banner.Button")</a>
                </div>
            </div>
        </div>

        <section class="whyPurchaseOnRockerz">
            <div class="row">
                <div class="col-md-6 mainBox">
                    <div class="innerTextCont">
                        <h2>Why Purchase on Rockerz? </h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="smallBoxes">
                        <img src="../Themes/RockerzV1/Content/images/seller_img_1.png" alt="" /> 
                    </div>
                </div> 
            </div>
        </section>
        <section class="sellerTextBlocks">
            <div class="row">
                <div class="col-md-6 blockImg">
                    <img src="../Themes/RockerzV1/Content/images/seller_img_2.png" alt="" />
                </div>
                <div class="col-md-6 blockText">
                    <div class="innerTextCont">
                        <h3>Expand your Reach</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries.
                        </p>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-md-6 blockText">
                    <div class="innerTextCont">
                        <h3>Let’s Begin with a Click</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                    <div class="col-md-6 blockImg imgRight">
                        <img src="../Themes/RockerzV1/Content/images/seller_img_3.png" alt="" />
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 blockImg">
                    <img src="../Themes/RockerzV1/Content/images/seller_img_4.png" alt="" />
                </div>
                <div class="col-md-6 blockText">
                    <div class="innerTextCont">
                        <h3>Simplicity in Complexity</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting,remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                </div> 
        </section>

        @await Component.InvokeAsync("TopicBlock", new { systemName = "WhyPurchaseOnRockerz" })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "SellerTextBlocks" })
    </div>
</div>

