﻿@model Sinek_ModelModel

<div class="panel-body">
	@(Html.LocalizedEditor<Sinek_ModelModel, Sinek_ModelLocalizedModel>("sinek_Model-info-localized",
    @<div>
         <div class="form-group">
               <div class="col-md-3">
                   <nop-label asp-for="ManufacturerId" />
               </div>
               <div class="col-md-9">
                   <nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturerId" />
                   <span asp-validation-for="ManufacturerId"></span>
               </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Name" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Name" />
                  <span asp-validation-for="@Model.Locales[item].Name"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Description" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                  <span asp-validation-for="@Model.Locales[item].Description"></span>
              </div>
         </div>
         <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
    ,
    @<div>
        <div class="form-group">
             <div class="col-md-3">
                  <nop-label asp-for="ManufacturerId" />
             </div>
             <div class="col-md-9">
                 <nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturerId" />
                 <span asp-validation-for="ManufacturerId"></span>
             </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Description" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Description" asp-template="RichEditor" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>))

	<div class="form-group advanced-setting">
		<div class="col-md-3">
			<nop-label asp-for="DisplayOrder" />
		</div>
		<div class="col-md-9">
			<nop-editor asp-for="DisplayOrder" />
			<span asp-validation-for="DisplayOrder"></span>
		</div>
	</div>

	<div class="form-group advanced-setting">
		<div class="col-md-3">
			<nop-label asp-for="Published" />
		</div>
		<div class="col-md-9">
			<nop-editor asp-for="Published" />
			<span asp-validation-for="Published"></span>
		</div>
	</div>

</div>
