﻿@using Nop.Core
@using Nop.Services.Helpers
@using Nop.Web.Framework.UI
@using Nop.Services.Configuration
@inject ISettingService settingService
@inject IWorkContext workContext
@inject IThemeContext themeContext
@inject IUserAgentHelper userAgentHelper
@{
    string cssVersion = settingService.GetSettingByKey("common.css.Version", "1.0");
    string jsVersion = settingService.GetSettingByKey("common.js.Version", "1.0");
    var supportRtl = workContext.WorkingLanguage.Rtl;
    var themeName = themeContext.WorkingThemeName;

    //add main CSS file
    if (supportRtl)
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/styles.rtl.css?v=" + cssVersion);
    }
    else
    {
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/styles.css?v=" + cssVersion);
        Html.AppendCssFileParts($"~/Themes/{themeName}/Content/css/bootstrap.min.css?v=" + cssVersion);
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    }
    //add jQuery UI css file
    Html.AppendCssFileParts("~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css");
    <script src="/Themes/RockerzV1/Content/js/script.js?v=" + jsVersion></script>
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/script.js?v=" + jsVersion);
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/bootstrap.min.js?v=" + jsVersion);

    //++Custom Rockerz
    //Company Tab
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/rockerz.company.js");

    //Gallery Page
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/Gallery/ui.coverflow.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/Gallery/ui.coverflow.app.js");

    //Header Flashing images
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/rockerz.splash.js");

    //Product Page
    //Html.AppendScriptParts(ResourceLocation.Footer, "~/Scripts/rockerz.product.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/rockerz.product.js");

    //Moushwheel jquery.
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/jquery.mousewheel.js");

    //--Custom Rockerz

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
}