﻿@model CheckoutBillingAddressModel

@foreach (var address in Model.ExistingAddresses)
{
	var addressLine = "";
	addressLine += address.FirstName;
	addressLine += " " + address.LastName;
	{
		addressLine += ", " + address.Address1;
	}
	if (!string.IsNullOrEmpty(address.Address2))
	{
		addressLine += ", " + address.Address2;
	}
	if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
	{
		addressLine += ", " + address.City;
	}
	if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
	{
		addressLine += ", " + address.StateProvinceName;
	}
	if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
	{
		addressLine += " " + address.ZipPostalCode;
	}
	if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
	{
		addressLine += ", " + address.CountryName;
	}
	<div class="addressBox">
		@*<div class="addressTit">Home</div>*@
		<div class="addressDisT">@(addressLine)</div>
		<input type="button" title="@T("Checkout.BillingAddress.DeliveryHere")" class="button-1 address-next-step-button" onclick="CheckGeoArea('@(address.Address2)','@(address.Id)')" value="@T("Checkout.BillingAddress.DeliveryHere")" />

	</div>
}