﻿@model AddressModel
@if (Model != null)
{
    <div class="checkout-data">
        <div id="dv-LoginDetails" class="step-title">
            @T("NB.Checkout.Delivery.Address") <img src="/Themes/RockerzV1/Content/img/greenCheckImg1.png">
        </div>
        @{
            var address = Model;
            var addressLine = "";
            //addressLine += address.FirstName;
            //addressLine += " " + address.LastName;
            if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address1))
            {
                addressLine += " " + address.Address1;
            }
            if (!string.IsNullOrEmpty(address.Address2))
            {
                addressLine += ", " + address.Address2;
            }
            if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
            {
                addressLine += ", " + address.City;
            }
            if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
            {
                addressLine += ", " + address.StateProvinceName;
            }
            if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
            {
                addressLine += " " + address.ZipPostalCode;
            }
            if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
            {
                addressLine += ", " + address.CountryName;
            }

            <script type="text/javascript">
        var addtocartReq = false;
        $('.product-box-add-to-cart-button').bind("click", function () {
            addtocartReq = true;
        });
        $(document).ajaxComplete(function () {
            if (addtocartReq) {
                Billing.selectAddress('@(Model.Id)')
                addtocartReq = false;
            }
        });
            </script>
        }
        <div class="address_selected">
            <div class="changeAdressLink">@T("Checkout.BillingAddress.Change")</div>
            @*<h5>Home</h5>*@
            <h5><span>@T("NB.Delivery.Default")</span> : Home</h5>
            <ul>
                <li class="name">@address.FirstName @address.LastName</li>
                <li class="addressLine">@(addressLine)</li>
                <li class="phone"><span>@T("NB.Delivery.Phone")</span> - +@address.PhoneNumber</li>
            </ul>
        </div>
    </div>
}