﻿@model SignUpModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0");
}
<div class="checkout-data">
    <div class="formDetails clearfix">
        <div class="row">
            <div class="col-sm-6">
                <label asp-postfix="" for="FirstName">@T("Checkout.LoginSignup.SignUp.FirstName")</label>
                <input asp-for="FirstName" placeholder="@T("Checkout.LoginSignup.SignUp.FirstName")" />
                <nop-required />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="col-sm-6">
                <label asp-postfix="" for="LastName">@T("Checkout.LoginSignup.SignUp.LastName")</label>
                <input asp-for="LastName" placeholder="@T("Checkout.LoginSignup.SignUp.LastName")" />
                <nop-required />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="col-sm-6">
                <label asp-postfix="" for="Email">@T("Checkout.LoginSignup.SignUp.Email")</label>
                <input asp-for="Email" placeholder="@T("Checkout.LoginSignup.SignUp.Email")" />
                <nop-required />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="col-sm-6">
                <label asp-postfix="" for="Phone">@T("Checkout.LoginSignup.SignUp.Phone")</label>
                <input asp-for="Phone" type="tel" pattern="\d*" placeholder="@T("Checkout.LoginSignup.SignUp.Phone")" onkeypress="return onlyNumberKey(event)" size="10" />
                <nop-required />
                <span asp-validation-for="Phone"></span>
            </div>
            <div class="col-sm-6">
                <label asp-postfix="" for="Password">@T("Checkout.LoginSignup.SignUp.Password")</label>
                <input asp-for="Password" placeholder="@T("Checkout.LoginSignup.SignUp.Password")" />
                <nop-required />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 buttons">
                @if (!string.IsNullOrEmpty(Model.Message))
                {
                    <div style="color:red;">@Model.Message</div>
                }
                <input type="button" class="button-1 register-next-step-button" onclick="LoginSignUp.submit('checkout/OpcSignUp/')" value="@T("Checkout.LoginSignup.SignUp.Submit.Button")" name="register-button" />
            </div>
        </div>
    </div>
</div>

<script>
    phoneNumber();

	function phoneNumber() {
		if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
			var inputs = document.querySelectorAll('input[type="tel"]');
			for (var i = inputs.length; i--;)
				inputs[i].setAttribute('pattern', '\\d*');
		}
	}
</script>
