﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "body_start_html_tag_after" })
<!-- @Html.Partial("_Notifications") -->
<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
        //<![CDATA[
            //replace the first parameter with "true" to use popup notifications
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
          //]]>
        </script>
        @Html.Partial("Header")
        @*@Html.Action("HeaderLinks", "Common")*@
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "content_before" })
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "content_after" })
        @Html.Action("EuCookieLaw", "Common")
    </div>
    @Html.Action("Footer", "Common")
</div>
@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "body_end_html_tag_before" })


<div style="position: fixed; z-index: 1000; width: 117px; height: 67px; bottom: 15px; right: 15px;"><a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=rockerzskateguards.com','SiteLock','width=600,height=600,left=160,top=170');"><img class="img-responsive" alt="SiteLock" title="SiteLock" src="//shield.sitelock.com/shield/rockerzskateguards.com" /></a></div>