﻿@model FooterModel
@using Nop.Web.Models.Common;
<style>
.devlopmentpartner {
    float: left;
    padding-left:14px;
    margin-top:-8px;
}

.devlopmentpartner span {
     float: left;
    line-height: 19px;
    padding: 0 5px 0 0;
  
}
.footer-disclaimer a {
    color: #29518B;
}


</style>

<div class="footer">
    <div class="footer-poweredby">

           <ul>
                <li id="terms"><a href="/t/TermsOfUse">Terms of Use</a></li>
                <li>/</li>
                <li id="privacy"><a href="/t/PrivacyPolicy">Privacy Policy</a></li>
                <li>/</li>
                <li id="refunds"><a href="/t/RefundsAndExchanges">Refunds &amp; Exchanges</a></li>
            </ul>
	<!--
        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        <!--Would you like
                to remove the "Powered by nopCommerce" link in the bottom of the footer? Find more
                info here http://www.nopcommerce.com/copyrightremoval.aspx -->
    </div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), @Model.StoreName)
        <br />
         Powered by <a href="http://www.nopcommerce.com/" target="_blank">nopCommerce</a>
    </div>
    <div class="footer-storetheme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
	<div id="social_fb">

        </div>
        <br class="clear" />
        <span class="devlopmentpartner"><span>Web Development Partner </span><a href="http://www.top-nop.com/" target="_blank"><img alt="top-nop" src="/Themes/Rockerz/Content/images/topnop.png"></a>
        </span>

    <div class="social-links">
        <ul>
         <li>	              
		<a href="https://www.facebook.com/RockerzSkateGuards" target="_blank" class="facebook_icon"></a>
            </li>
            <li>
                <a href="https://instagram.com/rockerzskateguards/" target="_blank" class="Instagram_icon"></a>
            </li>
            @*<li>
		<a href="https://twitter.com/rockerzguards" target="_blank" class="tweet_icon"></a>
                 </li>
            <li>
		<a href="#" class="googleplus_icon" target="_blank"></a>
                 </li>
            <li class="last">
        <a href="#" class="pinterest_icon" target="_blank"></a>
                </li>*@
		<li>	              
		<a href="http://vk.com/rockerzskateguards" target="_blank" class="vk_icon"></a>
            </li>
            </ul>
		</div>

		@*<div id="social_tw">	              
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_pinterest_pinit"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>

		<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5040d34676323fd2"></script>
        </div>*@
    @*@Html.Action("ChangeDeviceBlock", "Common")*@
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "footer" })
</div>
