div.demo
{
    padding-bottom: 20px;
    font-family: "Trebuchet MS" , "Arial" , "Helvetica" , "Verdana" , "sans-serif";
    background-color: #000;
}
div.wrapper
{
    height: 485px;
    width: 800px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.cssreflections div.wrapper
{
    height: 630px;
    width: 800px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
#coverflow
{
    display: inline-block;
    width: 26000px;
    padding: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 50px;
}
#coverflow img
{
    width: 260px;
    height: 390px;
    float: left;
    position: relative;
    margin: -35px;
}
.cssreflections #coverflow img
{
    width: 260px;
    height: 390px;
    float: left;
    position: relative;
    margin: -35px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(50,50,50,0.7)));
}
#demo-frame
{
    overflow: hidden;
}
#slider
{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 825px;
    margin-left: auto;
    margin-right: auto;
}
#sortable
{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#sortable li
{
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
    border: none;
}
#sortable li span
{
    position: absolute;
    margin-left: -1.3em;
}
.ui-selected
{
    color: white;
    background: #EDA32D; /* old browsers */
    background: -moz-linear-gradient(top, #EDA32D 0%, #F9731E 99%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EDA32D), color-stop(99%,#F9731E)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDA32D', endColorstr='#F9731E',GradientType=0 ); /* ie */
    border: none;
}
.pageWrapper
{
    margin: 0 auto;
    width: 960px;
}
#imageCaption
{
    margin: 10px auto 0;
    width: 400px;
    color: white;
    font-family: Arial;
    display: block;
    font-size: 12px;
    text-align: center;
}

/* css for scrollbar*/
#scroll-pane
{
    float: left;
    overflow: auto;
    width: 620px;
    height: 176px;
    position: relative;
    margin-left: 50px;
    margin-bottom: 25px;
    display: inline;
}
#sortable
{
    position: absolute;
    top: 0;
    left: 0;
}
.scroll-content-item
{
    background-color: #fcfcfc;
    color: #003366;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    font-size: 3em;
    line-height: 96px;
    text-align: center;
    border: 1px solid gray;
    display: inline;
}
#slider-wrap
{
    float: left;
    height: 172px;
    width: 20px;
    border-left: none;
}
#slider-vertical
{
    margin-left: 5px;
    position: relative;
    height: 100%;
}
.ui-slider-handle
{
    width: 20px;
    height: 10px;
    margin-left: 5px;
    background-color: darkgray;
    display: block;
    position: absolute;
}
.listholder
{
    width: 750px;
    margin: 0 auto;
}
.pageInfo
{
    margin: 0 auto;
    width: 700px;
    clear: both;
    color: white;
    font-size: 12px;
    text-align: center;
}
