﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@inject Nop.Core.IWebHelper webHelper
@inject SeoSettings seoSettings

@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
	//meta
	Html.AddMetaDescriptionParts(Model.MetaDescription);
	Html.AddMetaKeywordParts(Model.MetaKeywords);
	//page class
	Html.AppendPageCssClassParts("html-product-details-page");

	//Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery/jquery-3.3.1.min.js");
	Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/RockerzV1/Content/js/rockerz.designmine.js");

	//canonical URL
	if (seoSettings.CanonicalUrlsEnabled)
	{
		var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, webHelper.CurrentRequestProtocol).ToLowerInvariant();
		Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
	}

	//open graph META tags
	if (seoSettings.OpenGraphMetaTags)
	{
		Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
		Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:image:url\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
	}

	//Twitter META tags
	if (seoSettings.TwitterMetaTags)
	{
		Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
		Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
	}
}


@{

	//var defaultProductVariant = Model.ProductVariantModels != null ? Model.ProductVariantModels[0] : null;

	//errors
	var errors = new List<string>();
	foreach (var modelState in ViewData.ModelState.Values)
	{
		foreach (var error in modelState.Errors)
		{
			errors.Add(error.ErrorMessage);
		}
	}
	var GuardColors = "";
	var Springs = "";
	//var GuardColors = defaultProductVariant != null ? defaultProductVariant : defaultProductVariant.ProductVariantAttributes.ToList().FirstOrDefault(a => a.Name == "Guard Colors");
	//var Springs = defaultProductVariant != null ? defaultProductVariant : defaultProductVariant.ProductVariantAttributes.ToList().FirstOrDefault(a => a.Name == "Spring Set");

	var Color1index = 0;
	var Color2index = 0;
	var Color3index = 0;
	var Color4index = 0;

	string GoldSpringSetting = "True";
	string SilverSpringSetting = "True";
	//foreach (var item in Springs.Values)
	//{
	//    if (item.Name == "Gold")
	//    {
	//        if (item.EnableSpring == null || item.EnableSpring == false)
	//        {
	//            GoldSpringSetting = "False";
	//        }
	//    }
	//    else if (item.Name == "Silver")
	//    {
	//        if (item.EnableSpring == null || item.EnableSpring == false)
	//        {
	//            SilverSpringSetting = "False";
	//        }
	//    }
	//}
}
@if (errors.Count > 0)
{
	var addToCartWarningsSb = new System.Text.StringBuilder();
	for (int i = 0; i < errors.Count; i++)
	{
		addToCartWarningsSb.Append(errors[i]);
		if (i != errors.Count - 1)
		{
			addToCartWarningsSb.Append("\\n");
		}
	}

	//display errors

}
@functions{
	private string getStyle(string colorCode, string borderColorCode)
	{
		string result = "";
		//result = "float: left; height: 16px; margin: 2px; white-space: nowrap; width: 16px; ";
		if (colorCode != "")
			result += "background-color: " + colorCode + "; ";
		if (borderColorCode != null && borderColorCode != "")
			result += "border: 1px solid " + borderColorCode + ";";
		else
			result += "border: 1px solid " + colorCode + ";";
		return result;
	}
}

<style type="text/css">
	#loader {
		position: fixed;
		width: 100%;
		background: url("/images/trans.png") 0 0 repeat;
		top: 0;
		left: 0;
		height: 100%;
	}

		#loader .load {
			background: url("/images/loading.gif") no-repeat scroll center 0 transparent;
			color: #FFFFFF;
			font-size: 20px;
			margin: 233px auto 0;
			padding-top: 46px;
			text-align: center;
			width: 500px;
		}
</style> 
<script asp-location="Footer">
	$(document).ready(function () {

		defaultProductVariantId = 0;
		var ProductId = $("#hdfProductId").val();
		$(".colorbrush").hide();



		$.ajax({
			type: "POST",
			url: "/Product/Bindcolors",
			async: false,
			data: { productId: ProductId }
		}).done(function (data) {


			//alert(data);
			//        });



			//        $.get("/Product/Bindcolors?productId=" + ProductId, function (data) {
			var strResult = data.split('`');
			var strGoldSpringSetting = strResult[0]; //GoldSpringSetting
			var strSilverSpringSetting = strResult[1]; //SilverSpringSetting
			var HtmlGuardColors = strResult[2]; //GuardColors 1
			var HtmlGuardColors3 = strResult[3].replace('000!important', '555'); //GuardColors 3
			var HtmlGuardColors2 = strResult[4]; //GuardColors 2
			var HtmlGuardColors4 = strResult[5]; //GuardColors 4
			$(".HtmlGuardColors").html(HtmlGuardColors);
			$(".HtmlGuardColors3").html(HtmlGuardColors3);
			$(".HtmlGuardColors2").html(HtmlGuardColors2);
			$(".HtmlGuardColors4").html(HtmlGuardColors4);
			$('div[id^="color1_"]').mouseover(function () {
				color = $(this).attr("color");
				$("#rock_back_left").css('background-image', 'url("/images/design/left-' + color + '.png")');
				showColorName(color, "rock_back_left");
			});
			$('div[id^="color3_"]').mouseover(function () {
				color = $(this).attr("color");
				$("#rock_front_left").css('background-image', 'url("/images/design/left-' + color + '.png")');
				showColorName(color, "rock_front_left");
			});
			$('div[id^="color4_"]').mouseover(function () {
				color = $(this).attr("color");
				$("#rock_front_right").css('background-image', 'url("/images/design/right-' + color + '.png")');
				showColorName(color, "rock_front_right");
			});
			$('div[id^="color2_"]').mouseover(function () {
				color = $(this).attr("color");
				$("#rock_back_right").css('background-image', 'url("/images/design/right-' + color + '.png")');
				showColorName(color, "rock_back_right");
			});


			$(".dvContent").html(strResult[6]);
			defaultProductVariantId = strResult[7]; //defaultProductVariantId
			$(".colorbrush").show();
			$("#hdfGoldDiv").val(strGoldSpringSetting);
			$("#hdfSilveDiv").val(strSilverSpringSetting);
			var str = $("#hdfGoldDiv").val();
			if (str == "True") {
				changeSpringColor("gold");
			}

			var str2 = $("#hdfSilveDiv").val();
			if (str2 == "True") {
				changeSpringColor("silver");
			}
			$("#loader").hide();
			randomlyChooseColorsAndSprings();
		});


	});
	function checkStock() {
		var result = "";

		//            document.getElementById("my-dialog").style.display = 'inline';
		//            document.getElementById("loading_overlay").style.display = 'inline';
		//            var loadhtml = "Loading... <a href='javascript:void();' onclick='hide(\"loading_overlay\");'>Close</a>";
		//            //$('#loading_overlay').html(loadhtml);
		//            $('#my-dialog').html(loadhtml);
		var addressValue = location.href.split('/p/');
		//var address = addressValue[0].toString() + "/ModelPopupWeb/CheckStock";
		var address = "/ModelPopupWeb/CheckStock";

		var objrock_front_spring = document.getElementById("rock_front_spring").style.backgroundImage;
		var objrock_front_left = document.getElementById("rock_front_left").style.backgroundImage;
		var objrock_front_right = document.getElementById("rock_front_right").style.backgroundImage;

		var objrock_back_left = document.getElementById("rock_back_left").style.backgroundImage;
		var objrock_back_right = document.getElementById("rock_back_right").style.backgroundImage;
		var springs = objrock_front_spring.split("/");
		var frontleftFront = objrock_front_left.split("/");
		var frontrightFront = objrock_front_right.split("/");
		var backleftBack = objrock_back_left.split("/");
		var backrightBack = objrock_back_right.split("/");
		var _color1 = SplitValue(frontleftFront).toString();
		var _color2 = SplitValue(frontrightFront).toString();
		var _color3 = SplitValue(backleftBack).toString();
		var _color4 = SplitValue(backrightBack).toString();
		//            _color1 = _color1.toString().split('-')[1].replace("_", " ");
		//            _color2 = _color2.toString().split('-')[1].replace("_", " ");
		//            _color3 = _color3.toString().split('-')[1].replace("_", " ");
		//            _color4 = _color4.toString().split('-')[1].replace("_", " ");

		var re = new RegExp('_', 'g');
		_color1 = _color1.toString().split('-')[1].replace(re, ' ');
		_color2 = _color2.toString().split('-')[1].replace(re, ' ');
		_color3 = _color3.toString().split('-')[1].replace(re, ' ');
		_color4 = _color4.toString().split('-')[1].replace(re, ' ');
		var pvi = defaultProductVariantId;
		$.ajax({
			type: 'POST',
			cache: false,
			async: false,
			url: address,
			data: { color1: _color1, color2: _color2, color3: _color3, color4: _color4, productVariantId: pvi },
			success: function (res) {

				if (res == "<!-- -->") // All colors are in stock
				{

					result = "1";
				}
				else // Colors are out of stock
				{
					result = "0";
					//$('#loading_overlay').html(res);
					//$('#my-dialog').html(res);
					alert(res);
				}
			}
		});

		return result;
	}
</script>


<div> 
    <div id="designmine_main">
        <div id="rock_main">
            <div class="row">
                <div class="col-md-6">
                    <div class="designbox">
                        <div id="rock_front_left" style="background-image: url('/images/design/left-bahama_blue.png');">
                        </div>
                        <div id="rock_front_right" style="background-image: url('/images/design/right-lemon_ice.png');">
                        </div>
                        @* Client say it have no stock of gold string so we hide this section *@
                        @*<div id="rock_front_spring" style="background-image: url('/images/design/Goldsprings.png');"></div>*@
                        <div id="rock_front_spring" style="background-image: url('/images/design/Silver.png');">
                        </div>
                        <div id="rock_back_left" style="background-image: url('/images/design/left-sublime_lime.png');">
                        </div>
                        <div id="rock_back_right" style="background-image: url('/images/design/right-racer_red.png');">
                        </div>
                        @* Client say it have no stock of gold string so we hide this section *@ @*<div id="rock_back_spring" style="background-image: url('/images/design/Goldsprings.png');">
                    </div>*@
                        <div id="rock_back_spring" style="background-image: url('/images/design/Silver.png');">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rightcontrol">
                        <h2>
                            @T("NB.Product.Detail.Heading")
                        </h2>
                        <ul>
                            <li>
                                <h4>@T("NB.Product.Detail.Select.Spring.Color")</h4>
                                <div class="springcontrol">
                                    <div id="spring_gold" class="spring-color-box">
                                        @T("NB.Product.Detail.Gold.Springs")
                                    </div>
                                    <div id="spring_silver" class="spring-color-box">
                                        @T("NB.Product.Detail.Silver.Springs")
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h4>@T("NB.Product.Detail.Ramdomize.Skate.Color")</h4>
                                <div class="randomcontrol" id="design_randomize_btn">
                                    @T("NB.Product.Detail.Randomize.All.Colors")
                                </div> 
                                <div class="randomcontrol" id="design_randomizepair_btn">
                                    @T("NB.Product.Detail.Randomize.Pair.Colors")
                                </div>
                            </li>
                            <li>
                                <h4>@T("NB.Product.Detail.Select.Skate.Background.Color")</h4>
                                <div class="changebg" id="designmine_changebackground">
                                    @T("NB.Product.Detail.Change.Background")
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="footcontrol">
                        <div class="colorcontrolbox">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="colorcontrol HtmlGuardColors">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="colorcontrol HtmlGuardColors2">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="colorcontrol HtmlGuardColors3">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="colorcontrol HtmlGuardColors4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="colorbrushwrap">
                        <div class="colorbrush" onclick="myFunction()" type="submit">
                            <a id="OpenPopupnew" href="javascript:void(0);">
                                @*onclick="show('my-dialog'),show('')"*@
                                <span class="nextStepText">@T("NB.Product.Detail.Yes.Want.Colors")</span> <span class="nextStepLink">... next step >></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="designmine_footer" style="display: none;">
                <div id="design_mine_ia">
                    <div id="design_mine">
                        DESIGN MINE
                    </div>
                    <div id="interactive_styler">
                        interactive styler
                    </div>
                </div>
                <div class="design_btn" id="design_start_btn">
                    <div class="f-left" id="start_btn_img">
                    </div>
                    <span class="design_btn_txt f-left" id="start_btn_txt">design</span>
                    <div class="clearfloat">
                    </div>
                </div>
                <div class="design_btn" id="design_randomize_btnold">
                    <div class="f-left" id="randomize_btn_imgold">
                    </div>
                    <span class="design_btn_txt f-left" id="randomize_btn_txtold">randomize</span>
                    <div class="clearfloat">
                    </div>
                </div>
                <div class="design_btn" id="design_finalize_btn">
                    <div class="f-left" id="finalize_btn_img">
                    </div>
                    <div onclick="myFunction()" class="design_btn_txt f-left" type="submit">
                        <a href="#" id="OpenPopup" onclick="show('my-dialog'),show('')">
                            <span class="design_btn_txt f-left"
                                  id="finalize_btn_txt">finalize</span>
                        </a>
                    </div>
                    <div class="clearfloat">
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div id="rock_hidden">
            </div>
        </div>
  
    <div class="dvContent">
    </div>
    <p style="display: none;">
        <nop.core.domain.common.adminareasettings><br /></nop.core.domain.common.adminareasettings>
    </p>
    <script asp-location="Footer">
        function show(id) {
            document.getElementById(id).style.display = 'inline';
        }
        function hide(id) {
            document.getElementById(id).style.display = 'none';

        }
    </script>
    <div id="loading_overlay" style="display: none;">
    </div>
    <div id="my-dialog">
    </div>
    <input id="hdsprings" type="hidden" />
    <input id="hdleftFront" type="hidden" />
    <input id="hdrightFront" type="hidden" />
    <input id="hdleftBack" type="hidden" />
    <input id="hdrightBack" type="hidden" />
    <input id="hdManufacturerId" type="hidden" />
    <input id="hdModelId" type="hidden" />
    <input id="hdAvailableCutPoint" type="hidden" />
    <input id="hdtxtCutPoint1" type="hidden" />
    <input id="hdfGoldDiv" value="True" type="hidden" />
    <input id="hdfSilveDiv" value="True" type="hidden" />
    <input id="hdtowel" type="hidden" />
    <input id="hdfProductId" type="hidden" value="@Model.Id" />
    <script asp-location="Footer">
        // <![CDATA[
        function SplitValue(obj) {
            var springs = obj;
            springs = springs[springs.length - 1].toString().split("')");
            springs = springs[0].split(".png")
            return springs[0].toString();
        }  // ]]></script>
    <script asp-location="Footer">
        // <![CDATA[
        $('#OpenPopup, #OpenPopupnew').click(function () {
            var result = checkStock();
            if (result == "1") {
                document.getElementById("my-dialog").style.display = 'inline';
                document.getElementById("loading_overlay").style.display = 'inline';
                var addressValue = location.href.split('/p/');
                //var address = addressValue[0].toString() + "/ModelPopupWeb/Create";
                var address = "/ModelPopupWeb/Create";

                $.ajax({
                    type: 'POST', cache: false,
                    async: true, url: address, success: function (res) {
                        $('#my-dialog').html(res);
                    }
                });
            }
        });



        function myFunction() {
            var objrock_front_spring = document.getElementById("rock_front_spring").style.backgroundImage;
            var objrock_front_left = document.getElementById("rock_front_left").style.backgroundImage;
            var objrock_front_right = document.getElementById("rock_front_right").style.backgroundImage;
            var objrock_back_left = document.getElementById("rock_back_left").style.backgroundImage;
            var objrock_back_right = document.getElementById("rock_back_right").style.backgroundImage;
            var springs = objrock_front_spring.split("/");
            var frontleftFront = objrock_front_left.split("/");
            var frontrightFront = objrock_front_right.split("/");
            var backleftBack = objrock_back_left.split("/");
            var backrightBack = objrock_back_right.split("/");
            document.getElementById("hdsprings").value = SplitValue(springs).toString();
            document.getElementById("hdleftFront").value = SplitValue(frontleftFront).toString();
            document.getElementById("hdrightFront").value = SplitValue(frontrightFront).toString();
            document.getElementById("hdleftBack").value = SplitValue(backleftBack).toString();
            document.getElementById("hdrightBack").value = SplitValue(backrightBack).toString();


            var spring = document.getElementById("hdsprings").value.toString();
            if (spring == "Silver") { spring = "Silver"; }
            else if (spring == "Gold") { spring = "Gold"; }

            //$("#product_attribute_13_9_14 option:contains(" + document.getElementById("hdsprings").value.toString() + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_10_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_11_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_12_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('_')[1] + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_14_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('_')[1] + ")").attr('selected', 'selected');

            $("#product_attribute_14 option:contains(" + document.getElementById("hdsprings").value.toString() + ")").attr('selected', 'selected');


            //            $("#product_attribute_13_10_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_11_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_12_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            //            $("#product_attribute_13_14_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('-')[1].replace("_", " ") + ")").attr('selected', 'selected');
            var re = new RegExp('_', 'g');
            $("#product_attribute_16 option:contains(" + document.getElementById("hdleftFront").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_17 option:contains(" + document.getElementById("hdrightFront").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_15 option:contains(" + document.getElementById("hdleftBack").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');
            $("#product_attribute_18 option:contains(" + document.getElementById("hdrightBack").value.toString().split('-')[1].replace(re, ' ') + ")").attr('selected', 'selected');



            $("#product_attribute_14 option").each(function () {
                if ($(this).text() == spring) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_16 option").each(function () {
                //if ($(this).text() == document.getElementById("hdleftFront").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdleftFront").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_17 option").each(function () {
                //if ($(this).text() == document.getElementById("hdrightFront").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdrightFront").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_15 option").each(function () {
                //if ($(this).text() == document.getElementById("hdleftBack").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdleftBack").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });

            $("#product_attribute_18 option").each(function () {
                //if ($(this).text() == document.getElementById("hdrightBack").value.toString().split('-')[1].replace("_", " ")) {
                if ($(this).text() == document.getElementById("hdrightBack").value.toString().split('-')[1].replace(re, ' ')) {
                    $(this).attr('selected', 'selected');
                }
            });
        }


        //$("#designmine_main").click(function () {
        var bgImageColor = "white";
        $("#designmine_changebackground").on("click", function () {
            if (bgImageColor == "white") {
                $("#rock_main").addClass('blackBG');
                //$("#rock_main").css('background-image', 'url("/Themes/Rockerz/Content/images/background-blackN.jpg")');
                bgImageColor = "black";
            } else {
                $("#rock_main").addClass('whiteBG');
                //$("#rock_main").css('background-image', 'url("/Themes/Rockerz/Content/images/background-whiteN.jpg")');
                bgImageColor = "white";
            }
        });
                        // ]]>
    </script>
</div>
<div id="loader">
	<div class="load" id="ajax_loading">  Please wait.....
	</div>
</div>