﻿@model ProductReviewsModel

@functions{
	public string getColorName(string str)
	{
		string result = "";

		try
		{
			string[] arr = str.Split('_');
			if (arr.Length == 2)
			{
				arr = arr[1].Split('.');
				if (arr.Length == 2)
					result = arr[0];
			}
		}
		catch { }

		return result;
	}
}
<div class="review-container">
    <div class="write-review" id="review-form"> 
        <div class="enter-address">
            <button type="button" class="close" data-dismiss="modal"><i class="fa times"></i></button>
            <!--- Tittle -->
            <h3>@T("Nb.Order.Review.Title")</h3>
        </div>
        <div class="review-body">
            <div class="review-image">
                <!--- Product image -->
                @if (Model.ListColors.Any())
                {
                    int imagCnt = 0;
                    <div class="col-sm-3 picture">
                        <div class="rocketpack">
                            @foreach (var color in Model.ListColors)
                            {
                                if (imagCnt == 0)
                                {
                                    <img class="frontleft" alt="Front Left" src="@color" title="@(getColorName(color))" />

                                }
                                if (imagCnt == 1)
                                {
                                    <img class="frontright" alt="Front Right" src="@color" title="@(getColorName(color))" />

                                }
                                if (imagCnt == 2)
                                {
                                    <img class="frontspring" alt="Spring set" src="@color" title="@(getColorName(color))" />
                                    <div class="clear"></div>

                                }
                                if (imagCnt == 3)
                                {
                                    <img class="backleft" alt="Back Left" src="@color" title="@(getColorName(color))" />

                                }
                                if (imagCnt == 4)
                                {
                                    <img class="backright" alt="Back Right" src="@color" title="@(getColorName(color))" />

                                }
                                if (imagCnt == 2)
                                {
                                    <img class="backspring" alt="Spring set" src="@color" title="@(getColorName(color))" />

                                }
                                imagCnt += 1;
                            }
                        </div>
                    </div>
                }
                else
                {
                    @if (!string.IsNullOrEmpty(Model.ProductPictureUrl))
                    {
                        <img src="@Model.ProductPictureUrl" />
                    }
                    else
                    {
                        <img src="~/images/default-image.png" />
                    }
                }
            </div>
            <div class="review-detail">
                <!--- Product details -->
                <h4>@Model.ProductName</h4>
                <span>@Model.ProductShortDescription</span> 
                <h3>
                    <strong>@Model.ProductPrice</strong>
                </h3> 
            </div>
        </div>

        <div class="title">
            <strong>@T("Nb.Order.Review.Write")</strong>
        </div>
        <form id="add-product-review" action="">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" asp-for="OrderId" />
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="AddProductReview.Title" asp-postfix=":"></label>
                        <input asp-for="AddProductReview.Title" placeholder="@T("Nb.Order.Review.Fields.Title.Placeholder")" class="review-title" />
                        <nop-required />
                        <span asp-validation-for="AddProductReview.Title"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="AddProductReview.ReviewText" asp-postfix=":"></label>
                        <textarea asp-for="AddProductReview.ReviewText" placeholder="@T("Nb.Order.Review.Fields.ReviewText.Placeholder")" class="review-text"></textarea>
                        <nop-required />
                        <span asp-validation-for="AddProductReview.ReviewText"></span>
                    </div>
                    <div class="rate_star">
                        <input type="hidden" asp-for="AddProductReview.Rating" />
                        <h4>@T("Nb.Order.Review.Fields.Rating")</h4>
                        @for (int rat = 1; rat <= 5; rat++)
                        {
                            <img src="/Themes/RockerzV1/Content/img/rating1.png" id="rating-@(Model.ProductId)-@(rat)" class="fa fa-star img-rating" />
                        }
                    </div>

                </div>
            </div>
            <div class="buttons">
                <input type="button" name="add-review" class="button-1 write-product-review-button" value="@T("Nb.Order.Review.SubmitButton")" onclick="saveReview.save();" />
            </div>
        </form>
    </div>
</div>
<script>

    $('.img-rating').bind('click', function () {
        var arrId = this.id.split('-');
        setrating(arrId[1], arrId[2]);
    });

    var setrating = function (id, rat) {
        $('#@Html.IdFor(m=>m.AddProductReview.Rating)').val(rat);
        for (var i = 1; i <= 5; i++) {
            var imgId = '#rating-' + id + '-' + i + '';
            if (i <= parseInt(rat)) {
                $(imgId).prop('src', '/Themes/RockerzV1/Content/img/rating2.png');
            }
            else {
                $(imgId).prop('src', '/Themes/RockerzV1/Content/img/rating1.png');
            }
        }
    }

    var saveReview = {

        save: function () {
            $.ajax({
                cache: false,
                url: '@Url.Action("SaveProductReviewAjax", "Product")',
                data: $('#add-product-review').serialize(),
                type: "POST",
                beforeSend: function () {
                    displayAjaxLoading(true);
                },
                success: function (response) { saveReview.nextStep(response) },
                complete: function () {
                    displayAjaxLoading(false);
                },
                error: function () {
                    alert('An error occurred');
                }
            });
        },

        nextStep: function (response) {
            if (response.error) {
                if ((typeof response.message) == 'string') {
                    alert(response.message);
                } else {
                    alert(response.message.join("\n"));
                }
                //close popup
                $('#dv-review-container').html('');
                $('#dv-review-container').hide();

                return false;
            }

            saveReview.setStepResponse(response);
        },

        setStepResponse: function (response) {
            if (response.update_section) {
                $('#' + response.update_section.name + '').html(response.update_section.html);
            }

            if (response.success) {
                //display notification
                if (response.message) {
                    //specify timeout for success messages
                    displayBarNotification(response.message, 'success', 3500);
                }
                //hide review button
                if (response.orderId) {
                    $('#reviewButton_' + response.orderId).hide();
                }
                //close popup
                $('#dv-review-container').html('');
                $('#dv-review-container').hide();
            }

            return false;
        },

        resetLoadWaiting: function () {
            displayAjaxLoading(false);
        },
    }
</script>
