﻿@model Sinek_CutPointModel

@{
    const string hideInfoBlockAttributeName = "SinekCutPointPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);
     
    const string hideSeoBlockAttributeName = "SinekCutPointPage.HideInfoBlock";
    var hideSeoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSeoBlockAttributeName);

 }

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="sinekcutpoint-panels">
            <nop-panel asp-name="sinekcutpoint-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.SinekCutPoints.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
            <nop-panel asp-name="sinekcutpoint-seo" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.SinekCutPoints.Seo")" asp-hide-block-attribute-name="@hideSeoBlockAttributeName" asp-hide="@hideSeoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Seo", Model)</nop-panel>
        </nop-panels>
    </div>
</div>
