﻿@model Sinek_CutPointModel

<div class="panel-body">
	@(Html.LocalizedEditor<Sinek_CutPointModel, Sinek_CutPointLocalizedModel>("sinek_CutPoint-info-localized",
    @<div>
          <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].ManufacturerId" />
              </div>
              <div class="col-md-9">
                  <nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturerId" />
                  <span asp-validation-for="@Model.Locales[item].ManufacturerId"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].ModelId" />
              </div>
              <div class="col-md-9">
                  <nop-select asp-for="ModelId" asp-items="Model.AvailableModelId" />
                  <span asp-validation-for="@Model.Locales[item].ModelId"></span>
              </div>
         </div>

         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Size" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Size" />
                  <span asp-validation-for="@Model.Locales[item].Size"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].CutPoint" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].CutPoint" />
                  <span asp-validation-for="@Model.Locales[item].CutPoint"></span>
              </div>
         </div>
           <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].AdditionalInfo" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].AdditionalInfo" />
                  <span asp-validation-for="@Model.Locales[item].AdditionalInfo"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Published" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Published" />
                  <span asp-validation-for="@Model.Locales[item].Published"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].DisplayOrder" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].DisplayOrder" />
                  <span asp-validation-for="@Model.Locales[item].DisplayOrder"></span>
              </div>
         </div>

         <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
    ,
    @<div>
       <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.ManufacturerId" />
              </div>
              <div class="col-md-9">
                  <nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturerId" />
                  <span asp-validation-for="@Model.ManufacturerId"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.ModelId" />
              </div>
              <div class="col-md-9">
                  <nop-select asp-for="ModelId" asp-items="Model.AvailableModelId" />
                  <span asp-validation-for="@Model.ModelId"></span>
              </div>
         </div>

         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Size" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Size" />
                  <span asp-validation-for="@Model.Size"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.CutPoint" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.CutPoint" />
                  <span asp-validation-for="@Model.CutPoint"></span>
              </div>
         </div>
           <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.AdditionalInfo" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.AdditionalInfo" />
                  <span asp-validation-for="@Model.AdditionalInfo"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Published" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Published" />
                  <span asp-validation-for="@Model.Published"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.DisplayOrder" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.DisplayOrder" />
                  <span asp-validation-for="@Model.DisplayOrder"></span>
              </div>
         </div>
    </div>))
</div>
<script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.ManufacturerId)").change(function() {
            var selectedItem = $(this).val();
            var ddlModel = $("#@Html.IdFor(model => model.ModelId)")

            $.ajax({
                cache:false,
                type: "GET",
                url: "@(Url.Action("GetSinek_ModelByManufacturerId", "Sinek_CutPoint"))",
                data: { "manufacturerId": selectedItem, "addEmptyModelIfRequired": "true" },
                success: function (data) {
                    ddlModel.html('');
                    $.each(data, function(id, option) {
                        ddlModel.append($('<option></option>').val(option.id).html(option.name));
                    });
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to retrieve models.')
                }
            });
        });
        });
</script>
