﻿@model Nop.Web.Models.Common.MenuModel

<ul class="topmenu">
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li>
    }
    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
	
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
	
	<li><a href="@Url.RouteUrl("Topic", new { SystemName = "Product" })">Product</a></li>
	
	@Html.Action("WidgetsByZone", "Widget", new { widgetZone = "header_menu" })
</ul>
